---
import BlogPost from "@components/post.astro";
import BaseLayout from "@layouts/base.astro";
import { getCollection } from "astro:content";

const pageTitle = "Blog Posts";
const allPosts = await getCollection("posts");
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>

  <ul>
    {
      allPosts.map((post) => {
        return (
          <li>
            <BlogPost url={`/blog/${post.slug}`} title={post.data.title} />
          </li>
        );
      })
    }
  </ul>
</BaseLayout>
