---
const platform = "github";
const username = "kenedyolisi";
---

<footer>
  <p>
    Learn more about my projects on
    <a href={`https://www.${platform}.com/${username}`}>{platform}</p>
  </p>
</footer>
