---
import Hamburger from "@components/hamburger.astro";
import Navigation from "@components/navigation.astro";
import ThemeIcon from "./theme_icon.astro";
---

<header>
  <nav class="nav">
    <a class="brand" href="/">Brand</a>

    <Hamburger />
    <ThemeIcon />
    <Navigation />
  </nav>
</header>
