---
import Hamburger from "@components/hamburger.astro";
import Navigation from "@components/navigation.astro";
---

<header>
  <nav class="nav">
    <a href="/">Brand</a>
    <Hamburger />
    <Navigation />
  </nav>
</header>
