---
const navLinks = ["home", "about", "blog"];
---

<div class="nav-links">
  {
    navLinks.map((link: string) => {
      return (
        <a href={`/${link === "home" ? "" : link}`}>{link}</a>
      );
    })
  }
</div>
